{% capture refurl %}{% case page.collection %}
{% when 'sessions' %}{{ page.url | remove:'/session/' }}
{% when 'practice' %}{{ page.url | remove:'/practice/' }}
{% when 'projects' %}{{ page.url | remove:'/project/' }}
{% else %}{{ page.url }}
{% endcase %}{% endcapture %}
{% capture items %}
{% if page.collection == 'topics' %}
TOPIC DISCUSSION
{% else %}
<a href="">TOPIC DISCUSSION</a>
{% endif %} -
 {% if page.collection == 'sessions' %}
SESSION MATERIAL
{% else %}
<a href="session/">SESSION MATERIAL</a>
{% endif %} -
 {% if page.collection == 'practice' %}
IN-DEPTH EXERCISE
{% else %}
<a href="{{ refurl | strip_newlines }}practice/">IN-DEPTH EXERCISE</a>
{% endif %} -
 {% if page.collection == 'projects' %}
GUIDED PROJECT WORK
{% else %}
<a href="{{ refurl | strip_newlines }}project/">GUIDED PROJECT WORK</a>
{% endif %}
{% endcapture %}
<div class="topnav">
{{ items | strip_newlines }}
</div>
